body {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #20232a;
}

#root {
  display: grid;
  place-items: center;
  height: 50%;
  width: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1;

  margin: 0 25px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;

  text-align: center;
}

button {
  display: block;
  width: 100%;
}

button:focus {
  outline: 0;
}

.btn-container {
  padding: 10px 25px;
}

.btn-container * {
  margin: 10px 0;
  border-radius: 10px;
}

.btn-increment {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-increment:hover {
  background-color: #4CAF50;
  color: white;
}

.btn-decrement {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-decrement:hover {
  background-color: #f44336;
  color: white;
}

.red {
  color: red;
}